.message-wrapper{
    border: 1px solid var(--light-color);
    padding: 16px;
    gap: 16px;
    background: none;
    background-color: var(--dark-color);
    height: 76px;
    border-radius: 2px;
}
.card{
    display: grid;
    grid-template-columns: 32px 1fr;
    grid-gap: 12px;
    box-sizing: border-box;
    height: 100%;
}
.send-message-form{
    display: grid;
    box-sizing: border-box;
    height: 44px;
    grid-template-columns: 12.2fr 1fr 1fr ;
    align-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
}


.profile-card-avatar{
    width: 32px;
    height: 32px;
    border-radius: 50% ;
    overflow: hidden;
}
:host{
    box-sizing: border-box;
    align-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
}

