@if(me$ | async; as profile)
{
    <div>
        <app-profile-header [profile]="profile" class="mb32"></app-profile-header>
        <hr class="dashed-line mb32">
        @if(profile.stack.length >0){
            <div class="skills-wrapper">
                <h3 class="mb16">
                    Skills
                </h3>
                <div class="profile-card-tags mb32">
                    @for (tag of profile.stack; track $index) {
                        <div class="skill-tag">{{tag}}</div>
                    }
                </div>
            </div>
        }
       @if(profile.description != null){
        <div>
            <h3 class="mb16">
                About me
            </h3>
            <div class="about-wrapper">
                {{profile.description}}
            </div>
        </div>
    }
    </div>
    <form class="settings-area-wrapper" [formGroup] = "form">
    <div class="settings-area" >
        <div class="two-columns">
            <label class="tt-form-label">
                <span class="tt-form-label-text">
                    Name
                </span>
                <input 
                type="text" 
                class="tt-form-input" 
                placeholder="Enter data"
                formControlName="firstName">
            </label>
            <label class="tt-form-label">
                <span class="tt-form-label-text">
                    Last name
                </span>
                <input 
                type="text" 
                class="tt-form-input" 
                placeholder="Enter data"
                formControlName="lastName">            </label>
        </div>
        <label class="tt-form-label">
            <span class="tt-form-label-text">
                Username
            </span>
            <input 
            type="text" 
            class="tt-form-input" 
            placeholder="Enter data"
            formControlName="username">            </label>
        <label class="tt-form-label">
            <span class="tt-form-label-text">
                About me
            </span>
            <textarea  
            class="tt-form-input tt-text-area"
            rows="4" 
            placeholder="Enter data"
            formControlName="description"> 
            </textarea>
        </label>
        <label class="tt-form-label">
            <span class="tt-form-label-text">
                Avatar
            </span>
            <app-avatar-upload>
            </app-avatar-upload>
            </label>
        <label class="tt-form-label">
            <span class="tt-form-label-text">
                Skills
            </span>
            <input 
            type="text" 
            class="tt-form-input" 
            placeholder="Enter data"
            formControlName="stack">            </label>
    </div>
    <div >
        <div class="settings-buttons">
            <div class="small-buttons">
                <button class="btn-black small-button" >
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M10.3438 2.65625H12.6562V4H3.34375V2.65625H5.65625L6.34375 2H9.65625L10.3438 2.65625ZM5.34375 6V12.6562H10.6562V6H5.34375ZM4 12.6562V4.65625H12V12.6562C12 13.0104 11.8646 13.3229 11.5938 13.5938C11.3229 13.8646 11.0104 14 10.6562 14H5.34375C4.98958 14 4.67708 13.8646 4.40625 13.5938C4.13542 13.3229 4 13.0104 4 12.6562Z" fill="#E99898"/>
                    </svg>
                </button>
                <button class="btn-black small-button" (click)="onLogout()">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2.65625 3.34375V12.6562H8V14H2.65625C2.30208 14 1.98958 13.8646 1.71875 13.5938C1.46875 13.3229 1.34375 13.0104 1.34375 12.6562V3.34375C1.34375 2.98958 1.46875 2.67708 1.71875 2.40625C1.98958 2.13542 2.30208 2 2.65625 2H8V3.34375H2.65625ZM11.3438 4.65625L14.6562 8L11.3438 11.3438L10.4062 10.375L12.125 8.65625H5.34375V7.34375H12.125L10.4062 5.59375L11.3438 4.65625Z" fill="white"/>
                    </svg>
                </button>
            </div>
            <div class="big-buttons">
                <button class="btn-black" (click)="onDiscard()">Discard</button>
                <button class="btn" (click)="onSave()">Save</button>
            </div>
        </div>
    </div>
</form>


}