

.chat-wrapper{
    border-bottom: 1px solid var(--light-color);
    border-left: 1px solid var(--light-color);
    padding: 24px 20px;
    display: grid;
    grid-template-columns: 32px 1fr;
    grid-gap: 16px;
}

.username-wrapper{
    color: var(--ligth-transparent-color);
}
.message-preview{
    display: grid;
    grid-template-rows:16px 1fr;
    grid-gap: 12px;
}
.text{
    white-space: pre-wrap;  /* Preserve spaces, wrap text automatically */
    word-wrap: break-word;  /* Break long words to prevent overflow */
    max-width: 20%;
}