<div class="wrapper">
<div class="all-chats-wrapper">
    <div class="search">
        <input type="text" class="tt-form-input"placeholder="Search...">
    </div>
    <div class="chats-list">
        @for (chat of chats(); track chat.id){
            <a
            (click)="selectChat(chat)"
><app-chat-card-component
              [chat]="chat"
              ></app-chat-card-component>
            </a>
            }
    
    </div>
</div>

<div class="specific-chat">
    <div class="chat-header">
        Header
    </div>
    <div class="chat-main-area">
        <app-message-space (messageSentSpace)="refreshChatsParent()" [chat]="selectedChat"></app-message-space>
    </div>

</div>
</div>