<div class="all-chats-wrapper">
    <div class="search">
        <input type="text" class="tt-form-input"placeholder="Search...">
    </div>
    <div class="chats-list">
        @for (chat of chats() | async; track chat.id){
            <app-chat-card-component
              [chat]="chat"
              ></app-chat-card-component>
            }
    
    </div>
</div>

<div class="specific-chat">
    <div class="chat-header">
        Header
    </div>
    <div class="chat-main-area">
        <div class="messages">
            Messages
        </div>
        <div class="enter-message">
        @if(me()){
            <app-post-enter [profile]="me()!"/>
        }
        </div>
    </div>

</div>