:host{
    background-color: var(--dark-color);
    display: grid;
    grid-template-columns:380px 1fr;
    height: 100%;

}

.search{
    border-top: 1px solid var(--light-color);
    border-left: 1px solid var(--light-color);
    border-bottom: 1px solid var(--light-color);
    border-top-left-radius: 2px;
    padding: 16px 20px;
}

.all-chats-wrapper{
    display: grid;
    grid-template-rows: 76px 1fr;
    border-bottom-left-radius: 2px;
    border-left: 1px solid var(--light-color);
    border-bottom: 1px solid var(--light-color);
}
.chats-list{
    border-bottom-left-radius: 2px;
    border-left: 1px solid var(--light-color);
    border-bottom: 1px solid var(--light-color);
    background-color: var(--dark-color);
}

.chat-header{
    border-top-right-radius: 2px;
    border: 1px solid var(--light-color);
    padding: 16px 20px;
}

.specific-chat{
    display: grid;
    grid-template-rows: 76px 1fr;
    border-bottom-left-radius: 2px;
    border-left: 1px solid var(--light-color);
    border-bottom: 1px solid var(--light-color);
}
.chat-main-area{
    display: grid;
    grid-template-rows: 1fr 76px;
    grid-gap: 16px;
    background-color: var(--dark-color);
    border-bottom-right-radius: 2px;
    border-right: 1px solid var(--light-color);
    border-left: 1px solid var(--light-color);
    border-bottom: 1px solid var(--light-color);
    padding: 16px 20px;
}

.enter-message{
    position: relative;
    bottom: 32px;
}


